* {
  /* Paragraphy/SemiBold/Body - 16px */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  text-transform: capitalize;
}
.App {
    display: flex;
    flex-direction: column;
    background-color: #02050E;
    color: white;
    padding: 50px 200px;
  
    .hot {
      .title-box {
       
        .title {
          
        }
        .button {
         
          
        }
      }
  
      .cardItem {

        .card {

  
          .imgBox {
           
          }
    
          .itemDetail {

    
            .subTitle {

    
              .training {

              }
            }
    
            .personDetail {

    
              .name {
                .type {

                } 
              }
              
              .current {
                .currentBid {

                }
              }
            }
          }
        }
      }
  
      .button {

        .viewMore {
           
        }
      }
    }
  }