body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #02050E;
}

// html, body {
//   height: 100%;
//   margin: 0;
// }

#root {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10%;
  @media (max-width: 1024px) and (min-width: 768px) {
    padding: 20px 20px;
  }

  @media (max-width: 1024px) {
      padding: 10px 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  flex-shrink: 0;
}
